:root {
    --color_primario: #333;
    --color_blanco: #fff;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background-color: var(--color_blanco);
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 100;
    line-height: 1.3em;
    letter-spacing: .4px;
}


.contenedor-centrado { 
    display:flex; 
    width: 100%; 
    justify-content: center; 
    padding: 5px;
}
table {
    max-width: 90%;
    margin: 50px;
    padding: 30px;
    
    text-align: left;
}
h3{
    text-align: center;
    padding: 40px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
}
.section {
    padding: 60px 0;  /* Incrementé el padding superior para mover el título más abajo */
}
footer {
    padding: 20px 0;
}
.contenedor-centrado {
    margin-bottom: 20px;
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: 2px solid #333;  /* Borde gris oscuro */
    border-radius: 25px;  /* Botones redondeados */
    color: #333;  /* Texto gris oscuro */
    background-color: #fff;  /* Fondo blanco */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Sombra para dar profundidad */
    margin-bottom: 20px;  /* Espaciado entre botones */
}

.btn:hover {
    background-color: #333;  /* Fondo gris oscuro al pasar el mouse */
    color: #fff;  /* Texto blanco al pasar el mouse */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);  /* Sombra más pronunciada al pasar el mouse */
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ccc; /* Opcional: para visualizar mejor el formulario */
    border-radius: 5px; /* Opcional: para esquinas redondeadas */
}

form label {
    display: block; /* Asegura que las etiquetas estén en su propia línea */
    padding: 5px 0; /* Ajusta el padding para mantener las etiquetas alineadas */
}

form input {
    display: block; /* Asegura que los inputs estén en su propia línea */
    width: 100%; /* Asegura que los inputs tomen el ancho completo del formulario */
    margin:  0; /* Ajusta el margen para espacio vertical */
    padding: 5px; /* Añade padding para mejor apariencia */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total del input */
}

form button {
    display: block; /* Asegura que el botón esté en su propia línea */
    margin: 20px auto 0; /* Centra el botón horizontalmente */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer; /* Cambia el cursor cuando se pasa sobre el botón */
    border: none; /* Elimina el borde predeterminado */
    background-color: #8994a1; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border-radius: 5px; /* Bordes redondeados */
}

form button:hover {
    background-color: #4b89cc; /* Color de fondo del botón al pasar el mouse */
}



a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

.header {
    height: var(--altura_header);
    background-color: var(--color_primario);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 var(--padding_left_right);
}

.menu_hamburguesa {
    display: none;
}

.menu_hamburguesa:checked+.ul_links {
    height: calc(100vh - var(--altura_header));
}

.logo {
    color: var(--color_blanco);
}

.list_icon {
    color: var(--color_blanco);
    cursor: pointer;
}

.ul_links {
    width: 100%;
    background-color: var(--color_primario);
    position: absolute;
    top: var(--altura_header);
    left: 0;
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: all .3s;
}

.link {
    font-size: 1.5em;
    color: var(--color_blanco);
    font-weight: bold;
}

#pie {
    background: #333;
    color: var(--color_blanco);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

#pie a{
    text-decoration: none;
    padding: 10px;
}

.section {
    background: var(--color_blanco);
    color: #333;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    margin-bottom: 20px;
}

.article {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    gap: 10px;
}

.image-container {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}

main {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 100;
    line-height: 1.3em;
    letter-spacing: .4px;
}

#inicio h1 {
    margin: 30px 1rem;
}

h2 {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-size: xx-large;
    margin-bottom: 40px;
    margin-top: 20px;
    line-height: 1.5;
}

#inicio p {
    margin: 20px 1rem 10px 1rem;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo negro con opacidad */
    padding: 5px 10px;
    /* Espaciado interno alrededor del texto */
    display: inline-block;
    /* Ajusta el fondo al contenido del texto */
}

.texto-completo {
    display: none;
}

.texto-corto {
    display: block;
}

#ubicacion h3 {
    margin: 30px 1rem;
}

#ubicacion iframe {
    width: 100%;
    height: 450px;
}


/* Estilos para la lista de servicios */
.servicios {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
  }  
  
  .servicios li {
    flex-basis: calc(33% - 20px); 
    margin-bottom: 20px;
  }
  
  
  @media screen and (max-width: 768px) {
    .servicios {
      flex-direction: column; 
    }
    .servicios li {
      flex-basis: calc(50% - 20px); 
    }
  }

@media (max-width: 768px) {
    h2{
        font-size: large;
    }
}

@media (min-width:1024px) {
    .label_hamburguesa {
        display: none;
    }

    .ul_links {
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
    }

    .link {
        font-size: 1.2rem;
        transition: all .3s;
        padding: .2rem .7rem;
    }

    .link:hover {
        background-color: #111;
    }

    .article {
        flex-direction: row;
    }

    .texto-completo {
        display: block;
    }

    .texto-corto {
        display: none;
    }
}